name: build & deploy to azure

on:
  push:
    branches: [main, master]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
  
    steps:
      - name: checkout repo
        uses: actions/checkout@v3 

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build & push backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: chaimaebky/currencyconverter-web:latest


      - name: Build & push frontend 
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: chaimaebky/currencyconverter-frontend:latest
          build-args: VITE_API_URL=http://flask-backend-unique123.eastus.azurecontainer.io:5000



      # - name: Azure Login
      #   uses: azure/login@v1
      #   with:
      #     auth-type: 'azure-cli'



      # - name: deploy backend to azure container instances 
      #   uses: azure/aci-deploy@v1
      #   with:
      #     resource-group: RGCurrency
      #     name: flask-backend
      #     image: chaimaebky/currencyconverter-web:latest
      #     cpu: 0.5
      #     memory: 0.5
      #     ports: 5000
      #     os-type: Linux
      #     registry-username: ${{ secrets.DOCKER_USERNAME }}
      #     registry-password: ${{ secrets.DOCKER_PASSWORD }}
      
      # - name: deploy frontend to azure container instances
      #   uses: azure/aci-deploy@v1
      #   with:
      #     resource-group: RGCurrency
      #     name: react-frontend
      #     image: chaimaebky/currencyconverter-frontend:latest
      #     cpu: 0.5
      #     memory: 0.5
      #     ports: 80
      #     os-type: Linux
      #     registry-username: ${{ secrets.DOCKER_USERNAME }}
      #     registry-password: ${{ secrets.DOCKER_PASSWORD }}
              
          
  



